<h1>Add Address</h1>
<form action="/users/<%= current_user.id %>/addresses" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div>
    <label for="street">Street</label>
    <input type="text" id="street" name="address[street]" required>
  </div>

  <div>
    <label for="city">City</label>
    <input type="text" id="city" name="address[city]" required>
  </div>

  <div>
    <label for="state">State</label>
    <input type="text" id="state" name="address[state]" required>
  </div>

  <div>
    <label for="country">Country</label>
    <input type="text" id="country" name="address[country]" required>
  </div>

  <div>
    <label for="zip_code">Zip Code</label>
    <input type="text" id="zip_code" name="address[zip_code]" required>
  </div>

  <div>
    <button type="submit">Save Address</button>
  </div>
</form>
